<aside>

	<!--<div class="panel radius">
		{% include blog-search.html %}
	</div>-->

	<div class="border-dotted radius b30">
		<h3>Themen</h3>
		<div class="row">
			<div class="large-12 columns">
				<ul class="side-nav">
				{% for category in site.categories %}
			    {% capture category_name %}{{ category | first }}{% endcapture %}
			    <li id="#{{ category_name | slugize }}"><a href="/{{ category_name | slugize }}" name="{{ category_name | slugize }}">{{ category_name }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="panel radius">
		<h3>Blog abonnieren</h3>
		{% include blog-subscribe.html %}
	</div>

</aside>
