<aside>

	<!--<div class="panel radius">
		{% include blog-search.html %}
	</div>-->

	<div class="border-dotted radius b30">
		<h3>Themen</h3>
		<div class="row">
			<div class="large-12 columns">
				<ul class="side-nav">
				{% for tag in site.tags limit:8 offset:1 %}
			    {% capture tag_name %}{{ tag | first }}{% endcapture %}
			    <li id="#{{ tag_name | slugize }}"><a href="/{{ tag_name | slugize }}" name="{{ tag_name | slugize }}">{{ tag_name }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="panel radius">
		<h3>Blog abonnieren</h3>
		{% include blog-subscribe.html %}
	</div>

</aside>
