<form action="https://formspree.io/realscrumbags@gmail.com"
      method="POST">
  <div class="row">
    <div class="large-12 columns">
      <label>
        Name
        <input type="text" name="name" required>
      </label>
    </div>
    <div class="large-12 columns">
      <label>
        E-Mail-Adresse
        <input type="email" name="_replyto" required>
      </label>
    </div>
    <div class="large-12 columns">
      <label>
        Deine Nachricht an uns
        <textarea name="message" style="height:180px !important" required></textarea>
      </label>
    </div>
    <div class="large-12 columns">
      <button type="submit" class="button expand" title="Nachricht senden">Nachricht senden</button>
    </div>
  </div>
</form>
