<form action="https://formspree.io/realscrumbags@gmail.com"
      method="POST">
  <div class="row">
    <div class="large-12 columns">
      <input type="text" name="name" placeholder="Dein Name" required>
    </div>
    <div class="large-12 columns">
      <input type="email" name="_replyto" placeholder="Deine E-Mail-Adresse (für die Antwort)" required>
    </div>
    <div class="large-12 columns">
      <textarea name="message" style="height:180px !important" placeholder="Deine Nachricht an uns" required></textarea>
    </div>
    <div class="large-12 columns">
      <button type="submit" class="button expand" title="Nachricht senden">Nachricht senden</button>
    </div>
  </div>
</form>
