<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#313131",
      "text": "#ffffff"
    },
    "button": {
      "background": "#a7df40",
      "text": "#313131"
    }
  },
  "content": {
    "message": "Diese Website nutzt Cookies, um ein bestmögliches Nutzererlebnis bieten zu können.",
    "dismiss": "Nagut.",
    "link": "Mehr erfahren"
  },
  "position": "bottom-left"
})});
</script>
